.banner{
    background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
    height: auto;
    }
    
    .header-t1{
      color: #007236;
    }
    
    .header-t2{
      color: rgb(161, 14, 224);
    }