@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sarabun',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F0FFF0;
    height: 100%; 
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-size: calc(69% + 0.8vmin);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-size: 1rem;
  box-sizing: border-box;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


textarea{
  resize: none;

}

.search{
  width: 15rem ;
}
.btn-add{
  width: 4.3rem ;
}




@media screen and (max-width: 480px) {

}

@media screen and (max-width: 768px) and (min-width: 481px) and (orientation:portrait) {
  
}

@media screen and (max-width: 1279px) and (min-width: 769px) and (orientation:portrait) {
  
}

@media screen and (min-width: 1280px)  {
  .wrapper-more-footer{
    margin-top: 7.1rem;
  }
}


@media screen and (max-width: 1366px) {
  .wrapper-more-footer{
    margin-top: 2.57rem;
  }

}


